# Node / Vite
node_modules/
dist/
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.*

# Editor/OS
.DS_Store
Thumbs.db
.idea/
.vscode/

# Coverage / tests
coverage/

# Build artifacts
*.tsbuildinfo

# Misc
public/hot
storage/*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
